/**
 * Debug Stylesheet definitions.
 * @author Matthias L. Jugel
 * @version $Id: debug.css 546 2002-11-05 16:29:57Z leo $
 */

.debug {
  color: inherit;
  background-color: #ffff99;
}

.debug-title {
  text-align: center;
}

.debug-entry {
  font-family: courier, courier new, monospaced;
  font-size: 100%;
}